<%- include('user/show', {user: user}); %>
  <% }); %>
<body>
    <!-- <link rel="stylesheet" href="./css/body.css"> -->
    <div class="body">
        <div class="body2">

            <div class="body3">
                <img src="https://icones.pro/wp-content/uploads/2021/06/icone-github-bleu.png" alt="" style="width: 160px; height: 60px;">
           </div>
            <div class="body4">
                <h1>Bienvenido(a) !</h1>
                <h2>Gracias por registrarte en nuestra web.</h2>
                <br/>
                <p><i>Atentamente:</i><br>Equipo Bastet</p>

                <!-- Botón -->
                <a class="claseBoton" href="https://new-front-git-dev-proyectofinal34b.vercel.app"> Ir a Bastet</a>
            </div>
           
            <div style="background-color: #282828; color: #ffffff; padding: 5px 0px 0px 0px; width: 100%; text-align: center;">
                
                <h4>Soporte</h4>
                <p >
                    Comunícate con nosotros por los siguientes medios:<br>
                    Correo: <a class="afooter">bastet1872@gmail.com</a><br>
                </p>
                <p >
                    © 2023 Bastet, todos los derechos reservados.
                </p>
            </div>
           
        </div>
    </div>
    
</body>
</html>