.body{
    width: 100%; 
    background-color: #e3e3e3;
}
.body2{
    padding: 20px 10px 20px 10px;
}
.body3{
    background-color: #000000; padding: 10px 0px 10px 0px; width: 100%; text-align: center;
}
.body4{
    background-color: #ffffff; padding: 20px 0px 5px 0px; width: 100%; text-align: center;
}
p{
    margin-bottom: 50px;
    font-size: 13px; padding: 0px 20px 0px 20px;
    background-color: black; padding: 10px 0px 10px 0px; font-size: 12px !important;
}