<body>
    <div >
        <div>
            <div >
                <img src="https://icones.pro/wp-content/uploads/2021/06/icone-github-bleu.png" alt="logo" style="width: 110px; height: 60px;">
           <!-- <img src="../public/imgs/th.jpg" alt="" style="width: 160px; height: 60px;"> -->     
            </div>
            <div >
                <h1> <%= title%>  <%= name %> !</h1>
                <h2><%= body %></h2>

                <br/>
                <p ><i>Atentamente:</i>
                    <br>Equipo Bastet
                </p>
                <!-- Botón -->
                <a href="https://new-front-git-dev-proyectofinal34b.vercel.app"> Ir a Bastet</a>
            </div>
            <div >
                <h4>Soporte</h4>
                <p >
                    Comunícate con nosotros por los siguientes medios:<br>
                    Correo: <a href="www.gmail.com">bastet1872@gmail.com</a><br>
                </p>
                <p >
                    © 2023 Bastet, todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
</body>