
<body>
    <div style="width: 100%; background-color: #e3e3e3;">
        <div style="padding: 20px 10px 20px 10px;">

            <div style="background-color: #000000; padding: 10px 0px 10px 0px; width: 100%; text-align: center;">
                <img src="https://icones.pro/wp-content/uploads/2021/06/icone-github-bleu.png" alt="" style="width: 160px; height: 60px;">
           </div>
            <div style="background-color: #ffffff; padding: 20px 0px 5px 0px; width: 100%; text-align: center;">
                <h1>Bienvenido(a) !</h1>
                <h2>Gracias por registrarte en nuestra web.</h2>
                <p>Comienza a navegar en nuestro sitio y descubre a tu nuevo amigo que te acompañara en tus mejores momentos</p>                
                <br/>
                <p style="margin-bottom: 50px;"><i>Atentamente:</i><br>Equipo Bastet</p>

                <!-- Botón -->
                <a class="claseBoton" href="https://new-front-git-dev-proyectofinal34b.vercel.app"> Ir a Bastet</a>
            </div>
           
            <div style="background-color: #282828; color: #ffffff; padding: 5px 0px 0px 0px; width: 100%; text-align: center;">
                
                <h4>Soporte</h4>
                <p style="font-size: 13px; padding: 0px 20px 0px 20px;">
                    Comunícate con nosotros por los siguientes medios:<br>
                    Correo: <a class="afooter" href="">bastet1872@gmail.com</a><br>
                </p>
                <p style="background-color: black; padding: 10px 0px 10px 0px; font-size: 12px !important;">
                    © 2023 Bastet, todos los derechos reservados.
                </p>
            </div> 
        </div>
    </div>    
</body>