<body>
    <div >
        <div>
            <div >
                <img src="https://icones.pro/wp-content/uploads/2021/06/icone-github-bleu.png" alt="" style="width: 160px; height: 60px;">
           </div>
            <div >
                <h1> Pago pendiente ! </h1>
                <h2> No hemos recibido su pago. Puede realizarlo por medio de los canales que ponemos a sus órdenes</h2>
                <br/>
                <p ><i>Atentamente:</i>
                    <br>Equipo Bastet
                </p>
            </div>
            <div >
                <h4>Soporte</h4>
                <p >
                    Comunícate con nosotros por los siguientes medios:<br>
                    Correo: <a href="">bastet1872@gmail.com</a><br>
                </p>
                <p >
                    © 2023 Bastet, todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
</body>