.conteiner{
    padding-top: .5em;
    padding-left: .7em;
    background-color: rgba(233, 238, 238, 0.678);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid cornflowerblue;
    border-bottom-left-radius: 80px;
    height: 360px;
    width: 250px;
   
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    
}

