p, a, h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif !important;}
h1{ font-size: 30px !important;}
h2{ font-size: 25px !important;}
h3{ font-size: 18px !important;}
h4{ font-size: 16px !important;}
p, a{font-size: 15px !important;}

.claseBoton{
    width: 30%;
        background-color: #36e6f3;
        border: 2px solid #36e6f3;
        color: black; 
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
}
.claseBoton:hover{
    background-color: #1e76cf;
    color: #ffffff;
}
.imag{
    width: 20px;
    height: 20px;
}
.contA{
    margin: 0px 5px 0 5px;
}
.afooter{
    color: #ffffff !important; 
    text-decoration: none;
    font-size: 13px !important;
}
.body{
    width: 100%; 
    background-color: #e3e3e3;
}
.body2{
    padding: 20px 10px 20px 10px;
}
.body3{
    background-color: #000000; padding: 10px 0px 10px 0px; width: 100%; text-align: center;
}
.body4{
    background-color: #ffffff; padding: 20px 0px 5px 0px; width: 100%; text-align: center;
}
p{
    margin-bottom: 50px;
    font-size: 13px; padding: 0px 20px 0px 20px;
    background-color: black; padding: 10px 0px 10px 0px; font-size: 12px !important;
}